<h1 style="color:blue">
    Sumar números Logic Apps
</h1>

<form method="post">
    <label>Número 1: </label>
    <input type="text" name="numero1" class="form-control"/><br/>
    <label>Número 2: </label>
    <input type="text" name="numero2" class="form-control"/><br/>
    <button type="submit" class="btn btn-info">
        Sumar números
    </button>
</form>
<h1 style="color:fuchsia">
    @ViewData["MENSAJE"]
</h1>