@model List<Tabla>
<h1 style="color:blue">
    Tabla Multiplicar Logic Apps
</h1>

<form method="post">
    <label>Introduzca un número: </label>
    <input type="text" name="numero" class="form-control"/>
    <button type="submit" class="btn btn-info">
        Tabla Multiplicar
    </button>
</form>
<hr/>
@if (Model != null)
{
    <ul class="list-group">
        @foreach (Tabla t in Model)
        {
            <li class="list-group-item">
                @t.Resultado
            </li>
        }
    </ul>
}
